BeautifulSoup==3.2.1
Django==1.5.8
Fabric==1.8.3
Pillow==2.4.0
South==0.8.4
amqp==1.4.5
anyjson==0.3.3
billiard==3.3.0.17
bleach==1.4
boto==2.28.0
celery==3.1.11
diff-match-patch==20110725.1
dj-database-url==0.3.0
django-analytical==0.17.1
django-annoying==0.7.9
django-appconf==0.6
django-celery==3.1.10
django-celery-with-redis==3.0
django-compressor==1.4
django-debug-toolbar==1.2.1
django-extensions==1.3.7
django-heroku-memcacheify==0.5
django-heroku-postgresify==0.3
django-import-export==0.2.2
django-longerusernameandemail==0.5.6
django-mailgun==0.2.2
django-nose==1.2
django-pylibmc-sasl==0.2.4
django-selector==0.4
django-ses==0.6.0
django-staticfiles==1.2.1
django-storages==1.1.8
ecdsa==0.11
fitbit==0.1.0
fuzzywuzzy==0.2
gunicorn==18.0
html5lib==0.999
kombu==3.0.16
lettuce==0.2.19
lxml==3.3.5
mechanize==0.2.5
newrelic==2.18.1.15
nose==1.3.3
oauth==1.0.1
oauthlib==0.6.1
paramiko==1.12.4
psycopg2==2.5.3
pycrypto==2.6.1
pylibmc==1.2.3
python-dateutil==2.2
pytz==2014.3
redis==2.9.1
requests==2.3.0
requests-oauthlib==0.4.0
salad==0.4.14
selenium==2.41.0
shortuuid==0.4.2
simplejson==3.4.1
six==1.6.1
splinter==0.6.0
sqlparse==0.1.11
sure==1.2.7
tablib==0.9.11
versiontools==1.9.1
wsgiref==0.1.2
zope.event==4.0.3
zope.interface==4.1.1
zope.schema==4.4.1
zope.testbrowser==4.0.4
