beautifulsoup
bleach
boto
dj_database_url
django-analytical>=0.12.1
django-annoying
django-celery-with-redis
django-debug-toolbar
django-extensions
django-heroku-memcacheify
django-heroku-postgresify
django-import-export
django-longerusernameandemail
django-mailgun
django-nose
django-selector
django-ses
django-staticfiles
django-storages
django<1.6
django_compressor
fabric
fitbit
gunicorn
lxml
newrelic
oauth
pillow
psycopg2
requests
salad
simplejson
south
splinter
versiontools