boto==2.2.2
BeautifulSoup==3.2.1
django-analytical==0.12.1
django-annoying==0.7.6
django-celery-with-redis==3.0
django-compressor==1.1.2
django-extensions==0.7.1
django-import-export==0.2.1
django-selector==0.3
django-staticfiles==1.2.1
django-storages==1.1.4
django-ses==0.4.0
dj-database-url==0.2.1
gunicorn==0.13.4
lxml==2.3.3
newrelic==1.6.0.13
oauth==1.0.1
requests==0.14.2
psycopg2==2.4.4
simplejson==2.6.2
salad==0.4.3
versiontools==1.8.3
## The following requirements were added by pip --freeze:
Django==1.3.1
Fabric==1.4.0
South==0.7.3
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.18
celery==3.0.12
distribute==0.6.15
django-appconf==0.5
django-celery==3.0.11
fuzzywuzzy==0.1
kombu==2.4.10
lettuce==0.1.34
mechanize==0.2.5
nose==1.1.2
prettytable==0.5
pycrypto==2.5
pyflakes==0.4.0
python-dateutil==1.5
python-googleanalytics==1.0.2
pytz==2011n
rdflib==3.1.0
redis==2.7.2
selenium==2.17.0
six==1.1.0
splinter==0.4.4
ssh==1.7.13
sure==1.0.6
virtualenv==1.6.1
virtualenvwrapper==2.7.1
wsgiref==0.1.2
zope.event==3.5.1
zope.interface==3.8.0
zope.schema==4.0.1
zope.testbrowser==4.0.2
