BeautifulSoup==3.2.1
Django==1.4.10
Fabric==1.8.2
South==0.8.4
amqp==1.4.4
amqplib==1.0.2
anyjson==0.3.3
billiard==3.3.0.16
boto==2.27.0
celery==3.1.9
diff-match-patch==20121119
dj-database-url==0.3.0
django-analytical==0.16.0
django-annoying==0.7.9
django-appconf==0.6
django-celery==3.1.9
django-celery-with-redis==3.0
django-compressor==1.3
django-extensions==1.3.3
django-import-export==0.2.1
django-selector==0.4
django-ses==0.6.0
django-staticfiles==1.2.1
django-storages==1.1.8
ecdsa==0.11
fuzzywuzzy==0.2
gunicorn==18.0
kombu==3.0.13
lettuce==0.2.19
libxml2-python==2.9.1
lxml==3.3.3
mechanize==0.2.5
newrelic==2.16.0.12
nose==1.3.1
numpy==1.7.1
oauth==1.0.1
paramiko==1.12.2
prettytable==0.5
psycopg2==2.5.2
pycrypto==2.6.1
pyflakes==0.4.0
python-dateutil==1.5
python-googleanalytics==1.0.2
python-termstyle==0.1.10
pytz==2013.9
rdflib==3.1.0
redis==2.9.1
rednose==0.4.1
requests==2.2.1
salad==0.4.14
selenium==2.40.0
simplejson==3.3.3
six==1.5.2
splinter==0.6.0
ssh==1.7.13
sure==1.2.5
tablib==0.9.11
versiontools==1.9.1
