html, body {
    width: 100%;
    height: 100%;
    /*overflow-y: hidden;*/
}

#main {
	position: relative;
}
.nav {
    text-align: right;
    padding: 20px 20px 20px 0;
    border: 1px solid #CCC;
    border-width: 0 0 1px 0;
    margin: 0 0 40px 0;
    background: #EEE;
}
.nav a {
    display: inline-block;
    margin: 0 10px;
    color: #999;
    text-decoration: none;
    -webkit-transition: color 0.25s linear;
    -moz-transition: color 0.25s linear;
    -ms-transition: color 0.25s linear;
    -o-transition: color 0.25s linear;
    transition: color 0.25s linear;
}
.nav a.home {
    float: left;
}
.nav:hover a {
    color: #777;

}
.home_page {
    display: block;
    margin: 60px auto 50px auto;
    width: 80%;
    min-width: 800px;
    max-width: 1200px;
}
.hi {
    font-size: 30px;
}
.intro {
    font-size: 20px;
    margin: 0 0 20px 0;
}
.foreword {
    font-size: 16px;

}
picture {
	display: block;
	background: url("../img/my_face_500.jpg");
	background-repeat: no-repeat;
    background-size: 100%;
	width: 184px;
	height: 251px;
	margin: 0 0 64px 64px;
	float: right;
}
.year .year_number {
    margin: 48px 0 12px 0;
}
.detail_page h1 {
    margin: 0 0 20px 0;
}
.detail_page .year .project {
    margin-left: 0px;
}
.year .project {
    display: block;
    margin: 0 0 30px 3%;
    text-decoration: none;
    color: #454545;
}
.project .picture {
    display: none;
    float: left;
    width: 100px;
    height: 100px;
    background-color: #AAA;
    margin: 0 20px 0 0;
}
.project .title {
    display: block;
    font-size: 30px;
    color: #222;
    /*padding: 10px 0 0 0;*/
}
.project:hover .title {
    text-decoration: underline;
}
.project .summary {
    color: #777;
    font-size: 16px;
    margin: 0 10% 0 0;
    /*height: 30px;*/
}
.project .status {
    display: block;
    float: right;
    background-color: #454545;
    color: #DDD;
    padding: 4px 8px;
    border-radius: 4px;
    /*width: 4px;*/
    /*height: 50px;*/
}
.project .status .status_text {
    /*display: none;*/
}
.project .status.success {
    background-color: #98eb8a;
    color: #FFF;
}
.project .status.failed {
    background-color: #e5888a;
    color: #FFF;
    
}
.project .status.who_knows {
    background-color: #e7dc8b;
    color: #FFF;
    
}
.project .status.lived {
    background-color: #98eb8a;
    color: #FFF;
    
}

.year_number {
    font-size: 40px;
}


@media (max-width: 600px) { 
	page intro { top: 100px; font-size: 64px; margin: 100px 0px 0px 0px; }
	page picture { background: url("../img/my_face_240.jpg"); width: 176px; height: 240px; margin: 80px 10px 0px 4%; }
	page intro .hi { font-size: 64px; }
	page intro .i_m { font-size: 24px; }
	page intro .generally { font-size: 16px; }
	page top { font-size: 40px; }
	page bottom { font-size: 25px; }
	page center_bar middle, page center_bar left, page center_bar right  { height: 50px; }
	page .middle_link .middle_hover { margin-top: 10px; font-size: 25px; }
	body { min-height: 420px;}
}

/*@media (min-width: 331px) and (max-width: 600px) { 
	page intro { top: 100px; font-size: 64px; margin: 139px 0px 0px 0px; }
	page intro .hi { font-size: 120px; }
	page intro .i_m { font-size: 55px; }
	page intro .generally { font-size: 40px; }
	page top { font-size: 40px; }
	page bottom { font-size: 25px; }
	page center_bar, page center_bar middle, page center_bar left, page center_bar right  { height: 50px; }
	
	page .middle_link .middle_hover { margin-top: 10px; font-size: 25px; }
	year { bottom: 10px; }
}*/
@media (min-width: 600px) and (max-width: 1024px) { 
	
}


