html, body {
    width: 100%;
    height: 100%;
    /*overflow-y: hidden;*/
}

#main {
	position: relative;
}
pages {
	display: block;
	position: absolute;
	left: 0px;
}
page {
	display: block;
	width: 2000px;
	height: 1200px;
	float: left;
	position: relative;
}
page picture {
	display: block;
	background: url("../img/my_face_500.jpg");
	background-repeat: no-repeat;
	background-position: middle middle;
	width: 368px;
	height: 501px;
	margin: 100px 60px 0px 10%;
	float: left;
}
page intro {
	display: block;
	top: 100px;
	font-size: 64px;
	margin: 139px 0px 0px 0px;
}
page intro .hi {
	font-size: 120px;
}
page intro .i_m {
	font-size: 55px;
}
page intro .generally {
	font-size: 40px;
}


pages {
	display: block;
	width: 10000px;
	margin-top: -10000px;
}

page top, page bottom {
	display: block;
	font-size: 50px;
	text-align: center;
	vertical-align: middle;
}
page bottom {
	padding: 0px 10%;
	width: 80%;
}

page top {
	font-size: 100px;
}

center_bar {
	display: block;
	width: 100%;
	height: 100px;
}

year {
	display: block;
	position: absolute;
	bottom: 10px;
	right: 49%;
	color: #AAA;
}
page.first right_arrow {
	display: block;
	position: absolute;
	right: 10px;
	top: 48%;
	width: 100px;
	height: 100px;
	background: url("../img/arrow-right.png");
	background-repeat: no-repeat;
	background-position: right center;
}
page center_bar left {
	display: block;
	position: absolute;
	left: 1px;
	width: 100px;
	height: 100px;
	background: url("../img/arrow-filled-right.png");
	background-repeat: no-repeat;
	background-position: 0px center;
}	
page center_bar right {
	display: block;
	position: absolute;
	right: 1px;
	width: 100px;
	height: 100px;
	background: url("../img/arrow-filled-left.png");
	background-repeat: no-repeat;
	background-position: right center;
}
/*page center_bar right.last { 

}
*/
page center_bar middle {
	display: block;
	position: absolute;
	left: 100px;
	background-color: black;
	height: 100px;
}
a.middle_link {
	text-decoration: none;
	text-align: center;
}
page .middle_link .middle_hover {
	display: block;
	margin-top: 20px;
	color: #555;
	font-size: 40px;
	display: none;
}
page .middle_link_segment {
	display: inline-block;
	margin-top: 20px;
	color: #555;
	font-size: 40px;
}
page .middle_link:hover .middle_hover {
	display: block;
}

@media (max-width: 600px) { 
	page intro { top: 100px; font-size: 64px; margin: 100px 0px 0px 0px; }
	page picture { background: url("../img/my_face_240.jpg"); width: 176px; height: 240px; margin: 80px 10px 0px 4%; }
	page intro .hi { font-size: 64px; }
	page intro .i_m { font-size: 24px; }
	page intro .generally { font-size: 16px; }
	page top { font-size: 40px; }
	page bottom { font-size: 25px; }
	page center_bar middle, page center_bar left, page center_bar right  { height: 50px; }
	page .middle_link .middle_hover { margin-top: 10px; font-size: 25px; }
	body { min-height: 420px;}
}

/*@media (min-width: 331px) and (max-width: 600px) { 
	page intro { top: 100px; font-size: 64px; margin: 139px 0px 0px 0px; }
	page intro .hi { font-size: 120px; }
	page intro .i_m { font-size: 55px; }
	page intro .generally { font-size: 40px; }
	page top { font-size: 40px; }
	page bottom { font-size: 25px; }
	page center_bar, page center_bar middle, page center_bar left, page center_bar right  { height: 50px; }
	
	page .middle_link .middle_hover { margin-top: 10px; font-size: 25px; }
	year { bottom: 10px; }
}*/
@media (min-width: 600px) and (max-width: 1024px) { 
	
}

