{% extends "base.html" %}{% load compress humanize %}

{% block title %}Steven Skoczen - my resume{% endblock %}
{% block description %}My code, my career, and where I'm going next.{% endblock %}

{% block css %}{{block.super}}
<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}resume/css/resume.css">
{% endcompress %}
{% endblock %}


{% block content %}
<div class="resume">
	<div class="contact_info">
		<picture></picture>
		<h1 class="name">I'm <strong>Steven Skoczen</strong>.</h1>
		Welcome to my r&eacute;sum&eacute;.
	</div>

	<h2>Skills</h2>
	<div class="skills section_content">
		<div class="chart">
			<div class="axes">
				<div class="axis best_ever"><span class="axis_label">Best ever</span><hr/></div>
				<div class="axis awesome"><span class="axis_label">Awesome</span><hr/></div>
				<div class="axis solid"><span class="axis_label">Solid</span><hr/></div>
				<div class="axis novice"><span class="axis_label">Novice</span><hr/></div>
			</div>
			<div class="skill_bars">
				{% for skill, value in skill_values.items %}
				<div class="bar_block" style="width:{% widthratio 98 num_skills 1 %}%;">
					<div class="bar" style="height:{% widthratio value 1 10 %}%;">
						<div class="big_number">{{value|floatformat:0}}</div>
					</div>
					<div class="label_text">{{skill}}</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="overview">
			<p class="introduction">I write really excellent <strong>Python</strong>, JavaScript, CSS, and HTML.  I've spent the past five years living and breathing <strong>django</strong> on the backend, and <strong>vanilla.js</strong>, <strong>angular</strong>, <strong>jQuery</strong>, and backbone on the front. I can knock out <strong>pixel-perfect</strong> CSS, even for IE.  I've also been a web developer for 15+ years, so there are a lot of other languages and skills in the toolbox. UI. UX. Devops. Server admin. ASP. PHP. Project management. Agile. Automation. CI builds. Robots. Command-line tools.  I know mysql and postgresql and redis. I know memcached and rabbitmq and celery. I check <strong>my life</strong> into git.</p>

			<p class="open_source">I've also written and released a number of <strong>open source</strong> projects, like <strong>will</strong>, <strong>salad</strong>, autoscalebot, django-zebra, <strong>django-ajax-uploader</strong>, django-longer-username, and more - and grown the communities around them.  I've built entire large codebases from scratch, and waded into years of <strong>technical debt</strong> that made <em>grown men cry</em> and come out with working, <strong>tested</strong> code and better abstractions.</p>
		</div>
	</div>


	<div class="experience">
		<h2>Experience</h2>


		<div class="work_experience section_content">
			<p class="introduction">I've also been lucky to found, work at, and work with some amazing companies. Most recently, that's:</p>

            <div class="company gk">
                <div class="name">GreenKahuna</div>
                <div class="title">Senior Engineer, Dev Team Lead</div>
                <div class="description">Took a team of green, talented developers and made app-making warriors. Built an open dev culture, with monthly kick-backs to iterate how we worked. Architected, led code reviews, and moved us from minimal testing to continuous deployment on E2E tests. Wrote and open-sourced will, a python chat bot that handles devops, workflow, and fun.</div>
            </div>

			<div class="company be">
				<div class="name">Building Energy</div>
				<div class="title">Senior Engineer</div>
				<div class="description">Designed a decoupled pub-sub application architecture, and built it in a few weeks. Built the deploy system, a generalized data importer, Yeti, an amazingly helpful and friendly bot, and flint, a dev-facing command-line tool.  Drove culture from no tests to functional coverage and unit tests on all new code.</div>
			</div>

			<div class="company wk">
				<div class="name">Wieden+Kennedy</div>
				<div class="title">Creative Technical Lead</div>
				<div class="description">Pushed creative digital thinking on the Coke, Laika, and Nike Golf accounts. Worked on a P&amp;G global campaign, helped conceptualize and code the ParaNorman campaign, and watched my work in last year's Super Bowl. Started a monthly <i>Tech Breakfast</i> series to keep creatives current with the latest tech trends.</div>
			</div>

			<div class="company goodcloud">
				<div class="name">GoodCloud</div>
				<div class="title">Co-Founder, CEO</div>
				<div class="description">Built a full-featured CRM, donor and volunteer management platform for small nonprofits in four months, with one hand tied behind my back at a day job.  Open-sourced a number of libraries from the codebase. Made some small nonprofits very happy.</div>
			</div>


			<p class="more_experience">I've also led teams of programmers at UCSD, founded another two companies, run a sole proprietorship for the better part of a decade, and have a degree in Environmental Engineering from Cornell.  I also wrote the International Ethobotany Database, after two summers in Per&uacute; interviewing shamans. It's been an interesting ride.
			</p>
		</div>
	</div>

	<div class="code">
		<h2>Code</h2>
		<div class="repos section_content">
			<a href="https://github.com/skoczen/" class="repo"><div class="name">Personal</div> <div class="url"><i class="icon-github-alt"></i> github.com/skoczen</div></a>

			<a href="https://github.com/goodcloud/" class="repo"><div class="name">GoodCloud</div> <div class="url"><i class="icon-github-alt"></i> github.com/goodcloud</div></a>
            
            <a href="https://github.com/salad/" class="repo"><div class="name">Salad</div> <div class="url"><i class="icon-github-alt"></i> github.com/salad</div></a>

            <a href="https://github.com/greenkahuna/will/" class="repo"><div class="name">Will</div> <div class="url"><i class="icon-github-alt"></i> git.io/0II7cQ</div></a>

			{# <a href="https://github.com/wieden-kennedy/autoscalebot" class="repo"><div class="name">Autoscalebot</div> <div class="url"><i class="icon-github-alt"></i> git.io/E7Ydng</div></a> #}
		</div>
	</div>

	<div class="next">
		<h2>Next</h2>
		<div class="what_i_am_looking_for section_content">
		<p class="description ">I'm looking for interesting problems and <strong>smart, smart people</strong> to work with.  I want to learn things and teach things, and most of all - <strong>make things</strong>.  Good things.  Things that make some human somewhere <strong>really happy</strong>. It might be that my next place is with you.  Let's talk, and find out!</p>
		<p> <span class="info">My email is <strong class="email"><a href="mailto:skoczen@gmail.com">skoczen@gmail.com</a></strong> and my phone number is <strong>607-262-0880</strong>.</span> I look forward to talking with you.
		</p>
	</div>

</div>


{% endblock %}