{% extends "base.html" %}{% load compress %}

{% block title %}Steven Skoczen - the things I've started.{% endblock %}
{% block description %}Art, code, writing, spoken word, photos, food, and silliness. Enjoy!{% endblock %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}

{# The new list:
Categories:
Succeeded!
Succeeded (for a while)
Jury's out
Failed!
 #}
{% block content %}
{% include "main_site/_top_nav.html" %}
<div class="home_page seriously_the_home_page">
    <div class="intro">
        <picture></picture>
        <div class="hi">Hi, I'm Steven Skoczen.</div>
    </div>
    <div class="foreword">
        <p>I start things. Lots of things.  Some fail. Some succeed.</p>

        <p>What's success?  It depends.  For a piece of art, it's expressing the thing I'm hoping to say, and having the piece heard by people outside my close artist-y friends.  For an open-source project, it's having the project used by lots of people, and finding someone to carry its torch before I inevitably burn out.  For furniture, it's the moment someone can sit in it, eat dinner on it, or rest their books. </p>

        <p>In the big world, there are people who can take a blossoming thing, and maintain and grow it over the long run. I am not one of those people. There are folks who thrive on incremental improvements, little additions to make big things better.  I'm also not one of those people.  There are people who are lit up inside by <i>starting</i>, taking a nothing, and making a <i>something</i> there.  People who take the face-plant failures as much as the lift-off successes. People who are booster rockets, who can't guide you all the way to the moon, but who <i>can</i> get you out of gravity's well.  I am one of them.</p>
        <p>Here, as much for myself as anybody, are the things I've started:</p>
    </div>
    <div>
	{% for p in projects %}
    {% ifchanged p.date_started.year %}
    </div>
    <div class="year">
        <h1 class="year_number">{{ p.date_started.year }}</h1>
    {% endifchanged %}
    {% if p.url %}<a href="{{p.url}}" target="_blank"{% else %}<div {% endif %} class="project">
        <div class="picture">{% if p.picture %}<img src="{{p.picture.url}}"/>{% endif %}</div>
        <div class="status {{p.status}}" alt="{{p.get_status_display}}" title="{{p.get_status_display}}"><span class="status_text">{{p.get_status_display}}</span></div>
        <div class="title">{{p.title|safe}}</div>
        <div class="summary">{{p.summary|safe}}</div>
    {% if p.url %}</a>{% else %}</div>{% endif %}
	{% endfor %}
    </div>
</div>


{% endblock %}