{% extends "base.html" %}{% load compress %}

{% block title %}Steven Skoczen - the trail of things I'm leaving behind{% endblock %}
{% block description %}Art, code, writing, spoken word, photos, food, and silliness. Enjoy!{% endblock %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}main_site/css/site.css">
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}main_site/js/site.js"></script>
{% endcompress %}
{% endblock %}

{# The new list:
Categories:
Succeeded!
Succeeded (for a while)
Jury's out
Failed!
 #}
{% block content %}

<pages>
	<page class="first">
		<picture></picture>
		<intro>
			<div class="hi">Hi,</div>
			<div class="i_m">I'm Steven Skoczen</div>
			<div class="generally">And generally, I'm in motion.</div>
		</intro>
	</page>
	{% for p in pages %}
	<page>
		<top>
			{{p.top|safe}}
		</top>
		<center_bar>
			<left></left>
			{% if p.middle_links %}
				{% for l in p.middle_links %}
					<a href="{{l.url}}" target="_blank" class="middle_link_segment {{l.class}}"><middle><span class="middle_hover">{{l.text}}</span></middle></a>
				{% endfor %}
			{% else %}
				<a href="{{p.middle_link}}" target="_blank" class="middle_link"><middle><span class="middle_hover">open</span></middle></a>
			{% endif %}
			<right></right>
		</center_bar>
		
		<bottom>
			{{p.bottom|safe}}
		</bottom>
		<year>{{p.year|safe}}</year>
	</page>
	{% endfor %}
</pages>


{% endblock %}